header{
	text-align: center;
}
img{
	padding-left: 20%;
	width: 1080px;
	height: 150px;
}
header a {
	color: black;
}
.seccionTitulos h1 {
	padding-top: 30px;
	text-align: center;
}
.seccionParrafos p, h2, ol{
	padding-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
}

.navLista {
	list-style-type: none;
    padding: 0;
    text-align: center;

}
.navLista a {
	text-decoration: none;
	color : grey;
}
.navLista li{
 	display: inline;
    margin-right: 10px;
}